@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
  
  .navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .navbar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: black;
  }
  
  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: white;
  }
  
  .navbar .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #537ba9;
  }
  
  /* menu */
  .navbar{
    width: 100%;
  }
  
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: #232526;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  .menu li a:visited{
    text-decoration: none;
  }
  
  .navbar .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

main {
  max-width: 1000px;
  padding: 0 5vw;
  background-color: #f5f5f5;
}

hr {
  background-color: #2B6901;
  height: 2px;
  width: 80%;
  border: none;
}

.project {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* border: 2px solid green; */
  /* border-bottom: 2px solid black; */
  margin: 5vw;
}

.project div {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  color: black;
  border-radius: 10%;
  padding: 10px;
  width: 100%;
}


.project img {
  height: auto;
  border-radius: 5px;
  width: 100%;
  }

.project2 {
  /* background-image: linear-gradient(to bottom right, #045824, #96c93d); */
  flex-direction: column;
}

.project4 {
  border-bottom: none;
  flex-direction: column;
}

footer {
    width: 100vw;
    /* display: flex;
    justify-content: space-evenly;
    align-items: space-evenly; */
    background-image: url("../images/tree-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    max-width: 900px;
    padding-left: 0
}

footer li {
  display: flex;
  justify-content: space-evenly;
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: white;
  color: black;
}
.fa-instagram {
  background: white;
  color: black;
}
.fa-twitter {
  background: white;
  color: black;
}
.fa-linkedin {
  background: white;
  color: black;
}


  /* if desktop*/
@media (min-width: 900px) {
  body {
    width: 100vw;
  }
  .project {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .project img {
    width: 40vw;
    max-width: 400px;
  }
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  } 
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
      .navbar li a:hover,
    .navbar .menu-btn:hover {
      background-color: white;
      color: #2B6901;
      border-bottom: 1px #2B6901 solid;
    }
}