@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color:black;
}

/* if desktop*/
@media (min-width: 900px) {
  body {
    width: 100vw;
  }
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 5vw;
  color: white;
}

.navbar {
  /* position: fixed; */
  width: 100%;
  z-index: 3;
  background-color:white;
}

<<<<<<< HEAD
.logo {
  color: white;

}
=======

>>>>>>> ac48fbf15c5cc561958b6549e89332094eaaf310

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin: 2vw;
}

.navbar li a {
  display: block;
  color: black;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: #f4f4f4;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.navbar li a{
    color: white;
    border: 2px solid white;
    background-color: black;
    border-radius: 10%;
    margin: 0 .2vw;
    font-weight: bold;
}

.navbar li.opacity {
  opacity: 1;
  filter: alpha(opacity=100); /* IE8 and lower */
  zoom: 1; /* Triggers "hasLayout" in IE 7 and lower */
}

.navbar li.opacity:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}

.navbar li a:hover {
  transition: .2s;
  color: black;
  font-size: 1.1rem;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
    
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
}

navbar:not(.navbar){
  background:blue;
}

  .page-top {
      color: white;
      height: 30vw;
      max-height: 450px;
      width: 100%;
      max-width: 1800px;
      background-image: url("../images/tree-background.jpeg");
      background-position: center;
      background-repeat: no-repeat;
  }

  .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      /* border: 2px solid red; */
  }

  .project p {
    text-align: center;
  }


  .project img {
      border: 2px solid black;
      width: 60vw;
      height: auto;
      max-width: 400px;
  }

  .project1 {
    /* background-image: linear-gradient(to bottom right, #045824, #96c93d); */
    flex-direction: column;
  }

  .project2 {
    /* background-image: linear-gradient(to bottom right, #045824, #96c93d); */
    flex-direction: column-reverse;
  }

  .project3 {
    /* background-image: linear-gradient(to bottom right, #045824, #96c93d); */
    flex-direction: column;
  }

  /* if desktop*/
@media (min-width: 900px) {
  .project {
    flex-direction: row;
    justify-content: space-evenly;
  }

}

  .project div {
      display: flex;
      flex-direction: column;
      padding: 5%;
      /* border: 2px solid black; */
      width: 90%;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  footer {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    max-width: 900px;
  }