@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* #537ba9 - blue
#2B6901 - green */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #f5f5f5;
    padding-bottom: 25vw;
  }

  
  .logo{
    color: whitesmoke;
    font-size: 1px;
  }

  .menu li a{
      color: black
  }

  .quote{
    width: 10vw;
  }

  
  /* navbar */


  
  .navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .navbar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: white;
  }
  
  .navbar .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #537ba9;
  }
  
  /* menu */
  
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: #232526;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .navbar .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  

  
  navbar:not(.navbar){
    background:blue;
  }

  /* header */

    .main p{
      padding-top: 10vw;
      padding-bottom: 10vw;
      text-align: center;
    }

    hr{
      width: 15%;
      border:1px solid #537ba9
    }

  h1{
    color: #2B6901;
  }

  img#face{
    border-radius: 50%;
    width: 80vw;
    overflow:hidden;
    margin-left: 11%;
    margin-top: 4vw;
  }


  /* for mobile */

.main{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center;
    align-items: center; */
    padding-top: 18vw;
    width: 90%;
}

#face {
  width: 90%
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  width: 90%;
  margin: 10vw;
}

.nameText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7vw;
}

.nameText h1{
  width: 40vw;
  text-align: center;
  /* padding-left: 25vw; */
}

button{
  background-color: #2B6901;
  margin-top: 5vw;
  margin-bottom: 8vw;
  color: white;
  padding: 2vw;
  font-weight: bold;
}




  /* Footer */
  
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    /* opacity: 0.7; */
    color: #2B6901;
    background-color:white;
  }

  .fa-facebook {
    background: #232526;
    color: white;
  }

  .fa-instagram {
    background: #232526;
    color: white;
  }

  .fa-twitter {
    background: #232526;
    color: white;
  }

  .fa-linkedin {
    background: #232526;
    color: white;
  }

  footer {
    background-color: #2B6901;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    height: 17vw;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    max-width: 800px;
    padding-left: 0vw;
  }

  footer ul li{
    padding: 0vw 3vw;
  }
  button{
    margin: 0;
    border-radius: 20px;
  }

  /* if desktop*/

  @media (min-width: 900px) {
    body{
      /* position: relative; */
      width: 100vw;
    }
    .main {
      display: flex;
      flex-direction: row;
      padding: 100px 0 100px 0;
    }
    .navbar li a:hover,
    .navbar .menu-btn:hover {
      background-color: white;
      color: #2B6901;
      border-bottom: 1px #2B6901 solid;
    }
    .nameText{
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: x-large;
    }
    img{
      max-width: 30vw;
      margin-top: 0vw;
      margin-left: 5vw;
    }
    #quote img{
      padding-top: 3vw;
      margin-top: 17vw;
    }

    .main p{
      padding-top: 5vw;
      position: relative;
      min-height: 30vh;
      padding-bottom: 2vw;
      height: 30%;
    }
    footer ul li{
      padding: 0vw 3vw;
    }
    hr{
      width: 20%;
    }
    footer{
      height: 6vw;
    }
    button:hover{
      color: #2B6901;
      background-color: #f5f5f5;
      border: 2px #2B6901 solid;
    }
    .navbar li {
      float: left;
    }
    .navbar li a {
      padding: 20px 30px;
    }
    .navbar .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .navbar .menu-icon {
      display: none;
    }
  }
