@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* #537ba9 - blue
#2B6901 - green */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-size:cover;
  }

  p{
    color: black;
  }

  
  .logo{
    color: whitesmoke;
    font-size: 1px;
  }

  .menu li a{
      color: black
  }


  
  /* navbar */
  
  .navbar {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;

  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .navbar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .navbar .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #537ba9;
  }
  
  /* menu */
  
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .navbar .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .navbar li {
      float: left;
    }
    .navbar li a {
      padding: 20px 30px;
    }
    .navbar .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .navbar .menu-icon {
      display: none;
    }
  }
  
  navbar:not(.navbar){
    background:blue;
  }

  /* header */

    .main p{
      padding-top: 10vw;
    }

    hr{
      width: 15%;
      border:1px solid #537ba9
    }

  h1{
    color: #2B6901;
  }

  img{
    width: 90vw;
    border-radius: 50%;
    margin-top: 10vw;
    overflow:hidden;
    clip-path: circle(110px at center);
  }

  /* for mobile */

.main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 18vw;
    width: 90vw;
    margin-left: 5vw;
}

.nameText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameText h1{
  width: 40vw;
  text-align: center;
  /* padding-left: 25vw; */
}

button{
  background-color: #2B6901;
}






  /* if desktop*/

@media (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-top: 15vw;
  }
  .nameText{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: x-large;
  }
  img{
    max-width: 40vw;
    clip-path:circle(190px at center);
    margin-top: 0vw;
  }
  .main p{
    padding-top: 5vw;
    position: relative;
    min-height: 55vh;
  }

  footer ul li{
    padding: 0vw 3vw;
  }
  hr{
    width: 20%;
  }
}

  /* Footer */
  
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  footer {
    background-color: #2B6901;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    max-width: 800px;
    padding-left: 0vw;
  }

  footer ul li{
    padding: 0vw 3vw;
  }