
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');



/*---------- GENERAL VIEW ---------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    background-color:#f5f5f5;
    margin: 0;
}

.logo {
  color: #537ba9;;
  font-size: 2rem;
  position: absolute;
  left: 1vw;
  top: 1vw;
  margin: 0;
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lower div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr{
  width: 40%;
  height: 1px;
  background-color: #537ba9;
}

.pic {
  width: 100%;
}

.greenade {
  width: 100%;
  display: flex;
  justify-content: center;
}

.greenade img { 
  width: 100%;
}

.container{
  margin-bottom: 1rem;
  border-radius: 20px;
} 

.container h1 {
  color: #2B6901;
}

.textContainer {
  background-color: #f5f5f5 ;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 0 5vw;
}

.lastContainer {
  background-color: #f5f5f5 ;
  padding: 0 5vw;
}






/*---------- END OF GENERAL VIEW ---------- */













/*---------- NAVBAR ---------- */

.navbar {
  background-color: white;
  /* position: fixed; */
  width: 100%;
  z-index: 3;
  left: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: white;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #537ba9;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #232526;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 
.navbar {
    width: 100vw;
    z-index: 3;
    background-color: #f5f5f5;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vw;
    max-height: 450px;
    max-width: 1800px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin: 2vw;
  }
  
  .navbar li a {
    display: block;
    color: black;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: #f4f4f4;
  }
   /* .logo removed... is anything needed? */
  /* .navbar{  
    display: block;
    float: left;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
  } */
  
  /* menu */
/*   
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  } */
  
  /* menu icon */
  
  /* .navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
   */
  /* menu btn */
/*   
  .navbar .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  } */
/*   
   .navbar li a{
      color: white;
      border: 2px solid white;
      background-color: black;
      border-radius: 10%;
      margin: 0 .2vw;
      font-weight: bold;
  }
  
  .navbar li.opacity {
    opacity: 1;
    filter: alpha(opacity=100);  IE8 and lower 
    zoom: 1; Triggers "hasLayout" in IE 7 and lower
  }
  
  .navbar li.opacity:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
  }
  
  .navbar li a:hover {
    transition: .2s;
    color: black;
    font-size: 1.1rem;
  }
  
  navbar:not(.navbar){
    background:blue;
  }  */







  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  footer {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly
    
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    max-width: 900px;
    padding-left: 0;
  }
footer li {
    display: flex;
    justify-content: space-evenly;
}



/*---------- NAVBAR DESKTOP ---------- */
  
@media (min-width: 48em) {  /*  Original 48em. higher makes it switch to hamburger faster */
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
    color: black;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
  .navbar li a:hover,
    .navbar .menu-btn:hover {
      background-color: white;
      color: #2B6901;
      border-bottom: 1px #2B6901 solid;
    }
}
/*---------- END OF NAVBAR ---------- */








/*---------- IN DESKTOP VIEW - CODE HERE ---------- */
  
@media (min-width: 900px) {

  body {
    width: 100vw;
  }

  .container{
    width: 60vw;
    display: flex;
    flex-direction: row;
  } 
  .lower {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container img{
    width: 40vw;
  }

}