
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');



/*---------- GENERAL VIEW ---------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    background-color:#f5f5f5;
    margin: 0;
}

.logo {
  color: #537ba9;;
  font-size: 2rem;
  position: absolute;
  left: 1vw;
  top: 1vw;
  margin: 0;
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lower div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

hr{
  width: 40%;
  height: 1px;
  background-color: #537ba9;
  margin-top: 5vw;
}

.greenade {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.greenade img { 
  width: 100%;
}

.container{
  margin-bottom: 1rem;
  border-radius: 20px;
  display: flex;
  width: 100vw;
  flex-direction: column;
} 

.container h1 {
  color: #2B6901;
}

.textContainer {
  background-color: #f5f5f5 ;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
}

.container img {
  width: 100vw;
}

.picDiv {
  display: flex;
  flex-direction: column;
}






/*---------- END OF GENERAL VIEW ---------- */













/*---------- NAVBAR ---------- */

.navbar {
  background-color: white;
  width: 100%;
  z-index: 3;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: white;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #537ba9;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #232526;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*---------- END OF NAVBAR ---------- */

/*---------- FOOTER ---------- */
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-facebook {
    background: white;
    color: #2B6901;
  }

  .fa-instagram {
    background: white;
    color: #2B6901;
  }

  .fa-twitter {
    background: white;
    color: #2B6901;
  }

  .fa-linkedin {
    background: white;
    color: #2B6901;
  }

  footer {
    width: 100vw;
    background-color: #2B6901;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
    max-width: 700px;
    padding-left: 0;
  }
footer li {
    display: flex;
    justify-content: space-around;
}

/*---------- END OF FOOTER ---------- */





/*---------- NAVBAR DESKTOP ---------- */
  
@media (min-width: 48em) {  /*  Original 48em. higher makes it switch to hamburger faster */
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
    color: black;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
  .navbar li a:hover,
    .navbar .menu-btn:hover {
      background-color: white;
      color: #2B6901;
      border-bottom: 1px #2B6901 solid;
    }
}
/*---------- END OF NAVBAR ---------- */








/*---------- IN DESKTOP VIEW - CODE HERE ---------- */
  
@media (min-width: 900px) {

  body {
    width: 100vw;
  }

  .container{
    width: 100%;
    display: flex;
    flex-direction: row;
  } 

  .greenade {
    width: 60vw;
    display: flex;
    max-width: 1200px;
  }

  .lower {
    width: 100vw;
    max-width: 1000px;
  }

  .container img{
    width: 100%;
  }

  .textContainer {
    flex-direction: column;
    width: 50%;
    
  }

  .picDiv {
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
  }

  hr {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 60%;
  }
}